body {
  margin: 0;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
}

.input {
  padding: 0.5rem;
  font-size: 4rem;
  border: 1px solid #DDD;
  outline: none;
}

.btn {
  outline: none;
  padding: 0.5rem;
  font-size: 4rem;
  margin: 0;
  border: 1px solid #DDD;
  border-left: 0;
  background: #13CE66;
  color: white;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: #0F9F4F;
}

.link {
  padding: 0.5rem;
  font-size: 3rem;
  min-height: 18px;
  color: #1FB6FF;
}

h1 {
  font-size: 2rem;
}
